@model IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblGroup>
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Layouts/_EmptyAdmin.cshtml";
}
@using (Html.BeginForm("Groups", "Admin", FormMethod.Get))
{

    <h2>FYP Groups</h2>
    <div style="float:right;"> @Html.TextBox("searchingg")<input type="submit" value="search" class="btn  btn-info ml-2" /></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Group Name
                </th>
                <th>
                    Group Leader
                </th>
                <th>
                    Group Members
                </th>
                <th>
                    Group Supervisor
                </th>
                <th>
                    Group Project
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>
                        No Results Found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.groupName
                        </td>
                        <td>
                            @item.leader
                        </td>
                        <td>
                            @item.MembersCount
                        </td>
                        <td>
                            @item.groupSupervisor
                        </td>
                        <td>
                            @item.groupProject
                        </td>
                        <td>
                            @using (Html.BeginForm())
                            {

                                <button type="submit" class="btn btn-info" value="@item.groupName" name="detail">View Details</button>

                                <button type="submit" class="btn btn-danger" value="@item.groupName" onclick="success()" name="group">Terminate Group</button>

                            }
                            
                        </td>
                    </tr>




                }
            }
            </tbody>

    </table>
}


