@model IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblProjectRequests>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Layouts/_EmptyAdmin.cshtml";
}
@using (Html.BeginForm("Projects", "Admin", FormMethod.Get))
{
    <h2>Projects</h2>
    <div style="float:right;"> @Html.TextBox("searchingg")<input type="submit" value="search" class="btn  btn-info ml-2" /></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Group Name
                </th>

                <th>
                    Proposal Sent to
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>
                        No Results Found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Project
                        </td>
                        <td>
                            @item.Group
                        </td>

                        <td>
                            @item.Supervisor
                        </td>
                        <td>
                            @using (Html.BeginForm())
                            {
                                <input type="hidden" name="supervisor" value="@item.Supervisor" />
                                <button class="btn btn-success" value="@item.Project" onclick="accept()" name="accept">Accept Request</button>

                                <button class="btn btn-danger" value="@item.Project" onclick="success()" name="delete">Reject Request</button>
                            }
                        </td>
                    </tr>

                }
            }
            </tbody>
        </table>
}
                   <script>
            function success() {
                alert("Project Deleted Successfully!!!");
            }
            function accept() {
                alert("Project Accepted Successfully!!!");
            }
        </script>
    