
@{
    ViewBag.Title = "StudentDashboard";
    Layout = "~/Views/Layouts/_StudentDashboard.cshtml";
}

<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
<style>




    #container {
        width: 200px;
        height: 500px;
        margin-bottom: 10px;
        padding: 0;
    }
    .chart {
        display: grid;
        border: 2px solid #000;
        position: relative;
        overflow: hidden;
    }

    .chart-row {
        display: grid;
        grid-template-columns: 50px 1fr;
        background-color: #1e2d41;
    }

        .chart-row:nth-child(odd) {
            background-color: #C0C0C0;
        }

    .chart-period {
        color: #fff;
        background-color: #708090 !important;
        border-bottom: 2px solid #000;
        grid-template-columns: 50px repeat(12, 1fr);
    }

    .chart-lines {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
        grid-template-columns: 50px repeat(12, 1fr);
    }

    .chart-period > span {
        text-align: center;
        font-size: 13px;
        align-self: center;
        font-weight: bold;
        padding: 15px 0;
    }

    .chart-lines > span {
        display: block;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    .chart-row-item {
        background-color: #808080;
        border: 1px solid #000;
        border-top: 0;
        border-left: 0;
        padding: 20px 0;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .chart-row-bars {
        list-style: none;
        display: grid;
        padding: 15px 0;
        margin: 0;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px 0;
        border-bottom: 1px solid #000;
    }

    li {
        font-weight: 450;
        text-align: left;
        font-size: 15px;
        min-height: 15px;
        background-color: #191c24;
        padding: 5px 15px;
        color: #fff;
        overflow: visible;
        position: relative;
        cursor: pointer;
        border-radius: 15px;
    }

    ul .chart-li-one {
        grid-column: 1/2;
        background-color: #588BAE;
    }

    ul .chart-li-two-a {
        grid-column: 2/2;
        background-color: #0080FF;
    }

    ul .chart-li-two-b {
        grid-column: 2/4;
        background-color: #4682B4;
    }

    ul .chart-li-three {
        grid-column: 3/5;
        background-color: #57A0D3;
    }

    ul .chart-li-four {
        grid-column: 3/9;
        background-color: #0E4D92;
    }

    ul .chart-li-five {
        grid-column: 7/10;
        background-color: #4F97A3;
    }

    ul .chart-li-six {
        grid-column: 10/12;
        background-color: #73C2FB;
    }

    ul .chart-li-seven {
        grid-column: 12/12;
        background-color: #0080FF;
    }

    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<script>
    am5.ready(function () {

        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");

        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);

        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
            panX: false,
            panY: false,
            wheelX: "none",
            wheelY: "none"
        }));

        // Add cursor
        // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
        var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
        cursor.lineY.set("visible", false);

        // Create axes
        // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
        var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });

        var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
            maxDeviation: 0,
            categoryField: "name",
            renderer: xRenderer,
            tooltip: am5.Tooltip.new(root, {})
        }));

        xRenderer.grid.template.set("visible", false);

        var yRenderer = am5xy.AxisRendererY.new(root, {});
        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
            maxDeviation: 0,
            min: 0,
            extraMax: 0.1,
            renderer: yRenderer
        }));

        yRenderer.grid.template.setAll({
            strokeDasharray: [2, 2]
        });

        // Create series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
        var series = chart.series.push(am5xy.ColumnSeries.new(root, {
            name: "Series 1",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "value",
            sequencedInterpolation: true,
            categoryXField: "name",
            tooltip: am5.Tooltip.new(root, { dy: -25, labelText: "{valueY}" })
        }));


        series.columns.template.setAll({
            cornerRadiusTL: 5,
            cornerRadiusTR: 5
        });

        series.columns.template.adapters.add("fill", (fill, target) => {
            return chart.get("colors").getIndex(series.columns.indexOf(target));
        });

        series.columns.template.adapters.add("stroke", (stroke, target) => {
            return chart.get("colors").getIndex(series.columns.indexOf(target));
        });

        // Set data
        var data = [
     

          {
              name: "John",
                value: 35654,
                bulletSettings: { src: "https://www.amcharts.com/lib/images/faces/A04.png" }
          },
        
            {
                name: "Damon",
                value: 65456,
                bulletSettings: { src: "https://www.amcharts.com/lib/images/faces/C02.png" }
            },
            {
                name: "Patrick",
                value: 45724,
                bulletSettings: { src: "https://www.amcharts.com/lib/images/faces/D02.png" }
            },
            {
                name: "Mark",
                value: 13654,
                bulletSettings: { src: "https://www.amcharts.com/lib/images/faces/E01.png" }
            }
        ];

        series.bullets.push(function () {
            return am5.Bullet.new(root, {
                locationY: 1,
                sprite: am5.Picture.new(root, {
                    templateField: "bulletSettings",
                    width: 50,
                    height: 50,
                    centerX: am5.p50,
                    centerY: am5.p50,
                    shadowColor: am5.color(0x000000),
                    shadowBlur: 4,
                    shadowOffsetX: 4,
                    shadowOffsetY: 4,
                    shadowOpacity: 0.6
                })
            });
        });

        xAxis.data.setAll(data);
        series.data.setAll(data);

        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        series.appear(1000);
        chart.appear(1000, 100);

    }); // end am5.ready()
</script>


<h2 class="float-left">Leader Dashboard</h2>
<br />
<br />
<br />


<div class="col-lg-9 grid-margin stretch-card">
    @foreach (var pr in ViewData["progress"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblProjectProgress>)
    {
        <div class="col-md-8">
            <h5>Project Completion Status:</h5>
            <div class="progress">
                <div class="progress-bar" style="width: @pr.projectProgress%">
                    @pr.projectProgress%
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body ">
                    <h3>Project Gantt Chart:</h3>
                    <hr />
                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#exampleModal3">Add To Chart</button>
                    <div class="chart">
                        <div class="chart-row chart-period">
                            <div class="chart-row-item"></div>
                            <span>Week 1</span><span>Week 2</span><span>Week 3</span><span>Week 4</span>
                            <span>Week 5</span><span>Week 6</span><span>Week 7</span><span>Week 8</span><span>Week 9</span><span>Week 10</span><span>Week 11</span><span>Week 12             </span>
                        </div>
                        <div class="chart-row chart-lines">
                            <span></span><span></span><span></span>
                            <span></span><span></span><span></span>
                            <span></span><span></span><span></span>
                            <span></span><span></span><span></span>
                        </div>

                        @using (Html.BeginForm())
                        {
                            foreach (var gc in ViewData["gantt"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblGanttChart>)
                            {


                                <div class="chart-row">
                                    <div class="chart-row-item"></div>
                                    <ul class="chart-row-bars">
                                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" id="exampleModalLabel">Edit Gantt Chart</h3>

                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="hidden" id="gcid" class="form-control" name="gcID" value="@gc.gcID" />
                                                        <span>Week: </span> <select name="week" class="select-form" disabled>
                                                            <option value=""></option>
                                                            <span>Title:</span>
                                                            <input type="text" class="form-control" name="title" value="" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" name="gcedit" value="proceed" class="btn btn-secondary">Add</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <li class="@gc.gcWeek" data-toggle="modal" data-target="#exampleModal2" onclick="idfetch()" id="@gc.gcID">
                                            @gc.gcName



                                        </li>

                                    </ul>
                                </div>




                            }
                        }
                        <script>
                            function idfetch() {
                                document.getElementById("");
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card" id="container">
            
            <!--chart start-->
          
            <!--chart end-->
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body ">
                    <h3 class="p-2">Weekly Log Chart</h3>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th> Details</th>
                                <th>Created By</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var lc in ViewData["logchart"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblLogChart>)
                            {
                                <tr>
                                    <td>
                                        @lc.lcDate
                                    </td>
                                    <td>
                                        @lc.lcDetail
                                    </td>
                                    <td>
                                        @lc.lcCreatedby
                                    </td>
                                </tr>


                            }
                            <tr>
                                @using (Html.BeginForm())
                                {
                                    <td>
                                        Add To Log Chart: <span>Date:</span><input type="date" class="datepicker" name="lcdate" />
                                    </td>
                                    <td>
                                        <span>Details:</span><input type="text" class="form-control" name="detail" />
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-success" value="@Session["studentFname"]" name="lcname">Add</button>
                                    </td>
                                }
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Approved Meeting</h4>
                    @foreach (var ab in ViewData["meetings"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblMeeting>)
                    {

                        <h5>
                            Meeting Time: @ab.mDatenTime
                        </h5>
                        <h5>
                            Supervisor: @ab.meetingSupervisor
                        </h5>
                        <h6>Meeting Link: @ab.meetingLink</h6>
                    }
                </div>
            </div>
        </div>
        
    </div>







    @using (Html.BeginForm())
    {
        if (ViewData["supervision"] != null)
        {
            foreach (var aq in ViewData["supervision"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblRequestStatus>)


            {




                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Supervision Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1 style="text-align: center;">Your Supervision Request was @aq.rsStatus by @aq.rsSupervisor</h1>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" value="@Session["studentGroup"]" name="remove" class="btn btn-secondary">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script>
                    $(document).ready(function () {
                        $('#exampleModal').modal('show');
                    });
                </script>
            }
        }
    }



    @using (Html.BeginForm())
    {
        if (ViewData["AdminDeadline"] != null)
        {
            foreach (var aq in ViewData["AdminDeadline"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblAdminDeadlines>)


            {




                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Admin Notification</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1 style="text-align: center;">@aq.adTitle</h1>
                                <h4>@aq.adDetails</h4>
                                <h5>Deadline: @aq.adTime</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" value="@Session["studentGroup"]" name="readadmin" class="btn btn-secondary">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script>
                    $(document).ready(function () {
                        $('#exampleModal').modal('show');
                    });
                </script>
            }
        }
    }


    @using (Html.BeginForm())
    {
        if (ViewData["mytask"] != null)
        {
            foreach (var aq in ViewData["mytask"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblTaskNotification>)


            {




                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Group Task</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1 style="text-align: center;">The Supervisor Assigned You a New Task</h1>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" value="@aq.tnName" name="desc" class="btn btn-secondary">View</button>

                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script>
                    $(document).ready(function () {
                        $('#exampleModal').modal('show');
                    });
                </script>
            }
        }
    }
    @using (Html.BeginForm())
    {



        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Add to Gantt Chart</h3>

                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="gcid" class="form-control" name="gcID" value="" />
                        <span>Week: </span> <select name="week" class="select-form"><option value="chart-li-one">Week 1</option><option value="chart-li-two-a">Week 2</option><option value="chart-li-two-b">Week 2 and Week 3</option><option value="chart-li-three">Week 3 and Week 4</option><option value="chart-li-four">Week 3 till Week 8</option><option value="chart-li-five">Week 7 till Week 9</option><option value="chart-li-six">Week 10 and Week 11</option><option value="chart-li-seven">Week 12</option></select>
                        <span>Title:</span> <input type="text" class="form-control" name="title" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="descc" value="proceed" class="btn btn-secondary">Add</button>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            (document).on("click", "#clickme", function () {
                var gcId = $(this).data('id');
                $(".modal-body #gcid").val(gcId);
            });
            </script>
            <script>
        
                anychart.onDocumentReady(function() {

                // set the data
                var data = {
                    header: ["Name", "Score"],
                    rows: [
                       @foreach (var sc in ViewData["score"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblStudentScore>)
                           {
                               @:["@sc.studentFname", @sc.studentScore],
                               
                       }
                           
                ]};

                // create the chart
                var chart = anychart.bar();

                // add the data
                chart.data(data);

                // set the chart title
                chart.title("Student Scores In Task Submission");

                // draw
                chart.container("container");
                chart.draw();
              });
        </script>
    }


