@model TheFinalProduct_FYP_.db_fypManagement.tblSupervisors

@{
    ViewBag.Title = "SupervisorLogin";
    Layout = "~/Views/Layouts/_SupervisorLogin.cshtml";
}

<h2>Supervisor Login</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

    <div class="form-group">
        <h5 style="margin-bottom:15px;margin-top:15px">Enter Your Email</h5>
        <div class="col-md-12">
            @Html.EditorFor(model => model.supervisorEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.supervisorEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5 style="margin-bottom:15px;margin-top:15px">Enter Your Password</h5>
        <div class="col-md-12">
            @Html.EditorFor(model => model.supervisorPassword, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
            @Html.ValidationMessageFor(model => model.supervisorPassword, "", new { @class = "text-danger" })
        </div>
    </div>
        <br />
        <br />

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Sign In" class="btn btn-outline-success btn-lg" />
                @if (ViewBag.Message != null)
                {
                    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
                    </script>

                }
                <a href="@Url.Action("SupervisorRegistration","Login")"><input type="button" value="Register" id="btnShowModal" class="btn btn-primary btn-lg" /></a>
            </div>
        </div>
    </div>
}

