
@{
    ViewBag.Title = "Mygroups";
    Layout = "~/Views/Layouts/_SupervisorEmpty.cshtml";
}

<h2>My Groups</h2>
@using (Html.BeginForm())
{

foreach (var su in ViewData["mygroups"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblGroup>)
{
<div class="card">
    <div class="card-header">
        <h2>@su.groupName</h2>

    </div>
    <div class="card-body">
        <div class="card-columns"><h5>Group Leader: <span>@su.leader</span></h5></div>
        <div class="card-columns"><h5>Group Project: <span>@su.groupProject</span></h5></div>
        <div class="card-columns"><h5>Number of Members: <span>@su.MembersCount</span></h5></div>
        <div class="card-columns"><button class="btn btn-info btn-sm" value="@su.groupName" type="submit" name="more" onclick="success()"> View More</button></div>
        </div>

    </div>
}
}
<script>
    function success() {
        alert("Redirecting You to This Group's Details");
    }
</script>

